head
    link(rel="stylesheet", href="/css/index.css")
    title Breaddit
body
    nav
        li: a(href="/users") Users
        li: a(href="/users/signup") Sign Up
        li: a(href="/users/login") Log In
    block banana
    footer
        p This is our footer
//- Task 10