head
    link(rel="stylesheet", href="/css/index.css")
    title Breaddit
body
    nav
        li: a(href="/users") Users
        li: a(href="/posts") Posts
        li: a(href="/posts/new") Create Post
        li: a(href="/users/signup") Sign Up
        li: a(href="/users/login") Log In
        li: a(href="/users/logout") Log Out
    block banana
    footer
        p This is our footer
//- Task 10