head
    title Breaddit
body
    h1 This is the profile page
    div(class = 'user-container' id = 'container')
        p.testClass= user.username
        p= user.password
        p= user.email
    div.extraDiv#someextraId