extends layout.pug
include utils.pug

block banana
    table
        thead
            tr
                th Username 
                th Password
                th Email
        tbody
            each user in users
                +userData(user)


//- Task 9a ^^