head
    title Breaddit
    link(rel="stylesheet", href="/css/index.css")
body
    div
        each user in users
            div.user-container
                p= user.username
                p= user.password
                p= user.email
                br